beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
joblib==0.15.0
lxml==4.6.2
numpy==1.18.4
requests==2.23.0
scikit-learn==0.23.0
scipy==1.4.1
sklearn==0.0
soupsieve==2.0
threadpoolctl==2.0.0
urllib3==1.25.9
